.container {
  display: flex;
  gap: 1rem;
}
.listItem {
  /* display: flex;
  gap: 1rem; */
  font-family: "Telex", sans-serif;
}

.unorderedList {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  /* left: 5%; */
}
